{% extends 'articles/base.html' %}
{% load bootstrap4 %}

{% bootstrap_messages %}

{% block page_header %}
    <h2>Articles</h2>
{% endblock page_header %}

{% block content %}

    <div class="card-deck">
        {% for article in articles %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'articles:article' article.id %}">{{ article.title }}</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Direito {{ article.get_law_type_display }}</h6>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Published in {{ article.date_added }}</small>
                </div>
            </div>
        
        {% endfor %}
    </div>

{% endblock content %}