{% extends 'articles/base.html' %}
{% load bootstrap4 %}

{% bootstrap_messages %}

{% block page_header %}
    <!--TODO You might want to update the text based on your language. I.E  "Artigos"/"Articles" -->
    <h2>Articles</h2>
{% endblock page_header %}

{% block content %}

    <form action="{% url 'articles:articles' %}">
        <input type="text" name="q">
        <button type="submit">Search</button>
    </form>
    <p></p>

    <div class="card-deck">
        {% for article in articles %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'articles:article' article.id %}">{{ article.title }}</a>
                    </h5>
                    <!--TODO You might want to update the text based on your language. I.E  "Direito"/"Law" -->
                    <h6 class="card-subtitle mb-2 text-muted">{{ article.get_law_type_display }} Law</h6>
                </div>
                <div class="card-footer">
                    <!--TODO You might want to update the text based on your language. I.E  "Publicado em"/"Published in" -->
                    <small class="text-muted">Published in {{ article.date_added|date:"d/m/Y" }}</small>
                </div>
            </div>
        
        {% endfor %}
    </div>

{% endblock content %}