{% extends 'articles/base.html' %}
{% load bootstrap4 %}

{% bootstrap_messages %}

{% block page_header %}
    <h2>{{ lawsuit.description }}</h2>
{% endblock page_header %}

{% block content %}
        {% for movement in movements %}
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ movement.description|safe }}
                    </h5>
                </div>
                <div class="card-footer">
                    <!--TODO You might want to update the text based on your language. I.E  "Artigos"/"Articles" -->
                    <small class="text-muted">Updated in {{ movement.date_added|date:"d/m/Y - H:i" }}</small>
                </div>
            </div>
        
        {% endfor %}
{% endblock content %}